body
{
  margin: 0px;
  padding: 0px;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


.search-box
{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

input
{
  padding: 10px;
 width: 50%;
 font-size: 23px;
 
}
.search-btn
{
  padding: 10px;
  background-color: red;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 23px;
}
.recipes
{
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.recipe
{
  border-radius: 10px;
  box-shadow: 0px 2px 20px black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  min-width: 40%;
  /* padding: 5px; */

}
img
{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}